* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a,
a:visited {
    font-style: normal;
    text-decoration: none;
    color: inherit;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

ul,
li {
    list-style: none;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.jc-sb {
    justify-content: space-between;
}

.jc-c {
    justify-content: center;
}

.center {
    width: 50%;
    height: 100%;
    margin: auto;
    align-items: center;
    padding: 25px;
}

.text-center {
    text-align: center;
}

/* */

header,
footer {
    background-color: #1f2937;
    color: #F9FAF8;
    flex-grow: 0;
    flex-shrink: 0;
    height: 80px;
}

header .logo {
    font-size: 24px;
}


nav ul {
    display: flex;
    gap: 30px;
}

nav a {
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    background-color: #1f2937;
    font-size: 18px;
    color: #E5E7EB;
    flex-grow: 0;
    flex-shrink: 0;
}

.hero h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero .left {
    width: 40%;

}

.hero .right {
    height: 300px;
    border-radius: 3px;

}

button {
    background-color: #3882f6;
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    color: #F9FAF8;
    font-weight: 500;
    margin-top: 10px;
}

.inforow {
    flex: 1;
}

.infoheader {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-top: 20px;
    padding-bottom: 45px;
}

.box {
    height: 150px;
    width: 175px;
    border-radius: 15px;
    border: 3px solid #3882F6;
}

.boxes {
    flex-wrap: wrap;
    gap: 20px;
}

.boxcard {
    align-items: center;
}

.boxcard p {
    width: 150px;
}

.quoterow {
    background-color: #e5e7eb;
    flex: 1;
}

.quoteblock {
    width: 60%;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

.quotee {
    text-align: right;
    margin-left: auto;
    font-weight: 800;
    margin-top: 5px;
}

.ctarow {
    flex: 1;
    color: #F9FAF8;
}

.cta {
    background-color: #3882f6;
    width: 75%;
    height: 150px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-evenly;
}

.cta-text {
    display: inline-block;
}

.cta-button {
    border: 2px solid white;
    height: 30px;
    margin: 0;
}

.cta-header {
    font-size: 32px;
    font-weight: 700;
}

.cta-subtitle {
    font-weight: 300;
}

.copyright {
    justify-content: center;
    font-size: small;
}