* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header, .first {
    background-color: #1F2937;
}

header .logo {
   font-size: 24px;
   color: #F9FAF8;
}


header, .first h2, second h2 {
    color: #F9FAF8;
    font-weight: 900;
}

header a, .first p {
    color: #E5E7EB;
    font-size: 18px #E5E7EB;
}

.row {

}

.first h2 {
    font-size: 48px;
}



h2 {
    font-weight: 900;

}

.second h2, .quote {
    font-size: 36px;
    color: #1F2937;
}

.third {
    background-color: #E5E7EB;
}

.fourth {

}

footer {

}


#signup {

}

.quote {
    font-weight: 300;
    font-style: italic;

}

.quotee {
    font-weight: 600;
}

.cta {

}